Django==5.2
celery==5.3.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
boto3==1.28.0
confluent-kafka==2.12.2
pymongo==4.4.0
httpx==0.24.0
nltk==3.9.1

pytest==8.3.2
pytest-django==4.8.0
moto==5.0.0
ruff==0.6.8
black==24.8.0
sphinx==8.0.2
furo==2025.9.25
sphinx-autodoc-typehints==2.4.4
myst-parser==4.0.0
sphinx-copybutton==0.5.2
sphinx-rtd-theme==3.0.1
sphinx-autobuild==2024.4.16
psycopg2-binary==2.9.11
cryptography==46.0.3
